*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
background-color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size	: 15px;

}

p{
margin-bottom	: 20px;
line-height		: 1.5em;
}


h3{
margin-bottom	: 20px;
border-bottom	: 1px solid #aaa;
}

a{
text-decoration	: none;
color			: black;
}

a:hover{
color	: #666;
}

.container{
max-width	: 1080px;
margin		: 20px auto;
background	: #fff;
overflow	: hidden;
padding		: 10px;
}

.header{
border		: 1px solid #dedede;
padding		: 50px;
margin		: 10px;
background	: black;
text-align: center;
}
.header h1 {
    color: white;
}
/* main */
.kiri{
    width		: 250px;
    border		: 1px solid #dedede;
    padding		: 10px;
    margin		: 10px;
    float		: left;
}
    .kiri ul{
        list-style-type	: none;
    }
    
    .kiri ul li{
        display	: block;
    }
    
    .kiri ul li a{
        display			:block;
        border-bottom	: 1px solid #dedede;
        margin-bottom	: 10px;
        padding			: 10px 5px;
    }
    
    .kiri ul li a:hover{
        color:gray;
    }


.tengah{
    width	: 500px;
    border 	: 1px solid #dedede;
    padding	: 10px;
    margin	: 10px;
    float	: left;
}
    .tengah img{
        max-width	: 100%;
        height		: auto;
    }
    
    .tengah a {
        font-size: 20px;
    }
    
.kanan{
    width	: 250px;
    border	: 1px solid #dedede;
    padding	: 10px;
    margin	: 10px;
    float	: left;
}

    .kanan ul{
        list-style-type	: none;
    }
    
    .kanan ul li{
        display	: block;
    }
    
    .kanan ul li a{
        display			:block;
        border-bottom	: 1px solid #dedede;
        margin-bottom	: 10px;
        padding			: 10px 5px;
    }
    
    .kanan ul li a:hover{
        color:gray;
    }

    .container-box {
        width: 100%;
        overflow: hidden;
        margin:  15px;
        height: auto;
    }
    
    .col-1, .col-2, .col-3 {
        float: left;
        width: 31%;
        padding: 15px;
        text-align: center;
    }
    
    .col-2 li {
        display: inline;
        list-style: none;
    }

.footer{
    clear	: both;
    border	: 0px solid #dedede;
    padding	: 15px;
    margin	: 10px;
    height: 55px;
    background	: black;
}
.footer p {
    color: white;
}
.footer a {
    color: white;
}   

@media screen and (max-width:959px){
#container{
        width	: 100%;
    }
    #left-column{
        width	: 70%;
    }
    #right-column{
        width	: 30%;
        }
}

@media screen and (max-width:1080px){
    .container{
        width	: 100%;
    }
    
    .kiri{
        width		: 25%;
        background	: white;
    }
    
    .tengah{
        width	: 68%;
        float	: right;
        
    }
    
    .kanan{
        clear	: both;
        padding	: 1% 4%;
        width: auto;
        float	: none;
        background	: white;
    }

    .container-box {
        width: auto;
        height: auto;
        float: none;
    }
    .col-1, .col-2, .col-3 {
        padding: auto;
        font-size: 15px;
        width: auto;
        float: none;
    }
}

/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {

.header, 
.footer{
        text-align: center;
    }
    .kiri {
        width: auto;
        float: none;
    }

    .tengah {
        width: auto;
        float: none;
    }

    .kanan {
        width: auto;
        float: none;
    }
    
    .container-box {
        width: auto;
        height: auto;
        float: none;
    }
    .col-1, .col-2, .col-3 {
        padding: auto;
        font-size: 15px;
        width: auto;
        float: none;
    }
    
}


